@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--blue: #185ad9;
	--lightblue: #5f90f0;
	--caption: #fba017;
}

.btn-1 {
	padding: 8px 24px;
	background-image: linear-gradient(to right, var(--blue), var(--lightblue));
	color: white;
	border-radius: 30px;
	border: 0.3px solid transparent;
}

.btn-1:hover {
	background-image: none;
	border: 0.3px solid var(--lightblue);
	color: var(--lightblue);
}

.btn-2 {
	padding: 8px 24px;
	color: white;
	border: 0.3px solid var(--lightblue);
	border-radius: 30px;
	color: var(--lightblue);
}

.btn-2:hover {
	padding: 8px 24px;
	border: none;
	background-image: linear-gradient(to right, var(--blue), var(--lightblue));
	color: white;
	border-radius: 30px;
}

nav ul li {
	font-size: 14px;
	line-height: 24.4px;
	font-weight: 400;
	color: gray;
}

.links {
	border-bottom: 2px solid transparent;
	padding: 10px;
}

.links:hover {
	border-bottom: 2px solid var(--blue);
}

.text {
	background: linear-gradient(to left, var(--blue), var(--lightblue));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.background {
	background-image: linear-gradient(to left, var(--blue), var(--lightblue));
	color: white;
}

.portfolio {
	background: linear-gradient(to bottom right, transparent 49.5%, #f0f4fc 20%)
			bottom right,
		linear-gradient(to bottom left, transparent 49.5%, #f0f4fc 10%) bottom
			left,
		#f6f8fd;
	background-size: 50% 70%;
	background-repeat: no-repeat;
}

.img-holder {
	background-image: linear-gradient(#edeefb, #edeefb);
}
