@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--blue: #185ad9;
	--lightblue: #5f90f0;
	--caption: #fba017;
}

.btn {
	padding: 8px 24px;
	background-image: linear-gradient(to right, var(--blue), var(--lightblue));
	color: white;
	border-radius: 30px;
}

.btn:hover {
	background-image: none;
	border: 0.3px solid var(--lightblue);
	color: var(--lightblue);
}

.btn-2 {
	padding: 8px 24px;
	color: white;
	border: 0.3px solid var(--lightblue);

	border-radius: 30px;
	color: var(--lightblue);
}

.btn-2:hover {
	padding: 8px 24px;
	border: none;
	background-image: linear-gradient(to right, var(--blue), var(--lightblue));
	color: white;
	border-radius: 30px;
}

nav ul li {
	font-size: 14px;
	line-height: 24.4px;
	font-weight: 400;
	color: gray;
}

.text {
	background: linear-gradient(to left, var(--blue), var(--lightblue));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.linear-background {
	background-image: linear-gradient(to right, var(--blue), var(--lightblue));
}
